.ChromaDetail {
  position: relative;
  cursor: ew-resize;
  outline: none;

  &__dot {
    height: 8px;
    width: 8px;
    background-color: white;
    border-radius: 1000px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
  }

  &__output {
    user-select: none;
    text-align: right;
    margin-right: 8px;
  }
}

.ChromaDetail:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.ChromaDetail--is-dragging {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.ChromaDetail:focus {
  background-color: rgba(0, 0, 0, 0.05);

  .ChromaDetail {
    &__dot {
      box-shadow: 0 0 8px rgba(0, 0, 0, 1), 0 0 0 1px rgba(0, 0, 0, 1);
      &::after {
        content: '';
        display: block;
        background-color: black;
        height: 4px;
        width: 4px;
        border-radius: 100px;
        position: absolute;
        top: 2px;
        left: 2px;
      }
    }
  }
}
