.ScaleGenerator {
  display: flex;
  position: relative;

  &__controls {
    position: relative;
  }

  &__max-chroma-line {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 1px;
    height: 100%;
  }

  &__hue {
    position: relative;
    background-color: white;
    margin: 0.5rem;
    margin-top: 1rem;
    border-radius: 100rem;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3);
    border: .0625rem solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.125rem .75rem;
  }
  &__input {
    flex-grow: 1;
  }

}
