.ScaleGenerator {
  display: flex;
  position: relative;

  &__toolbar {
    display: flex;
    flex-direction: column;
    visibility: hidden;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
  }

  &__footer {
    display: flex;
    align-items: center;
    margin: 2px 0;
  }

  &__toolbar-sliders {
    margin-bottom: 12px;
  }

  &__toolbar-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4px;
    // margin-bottom: 2px;
  }

  &__hue {
    width: 48px;
    text-align: center;
    white-space: nowrap;
    font-size: 10px;
  }

  &__hue-slider {
    visibility: hidden;
  }

  &__point {
    position: absolute;
    left: 0;
    top: 0;
    height: 16px;
    transform: translateY(-50%);

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__points {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__plot {
    display: flex;
  }

  &__chroma-details {
    position: relative;
    width: 48px;
  }

  &__chroma-detail {
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
    $bg: white;
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 10px;
    transform: translateY(-50%);
    background-color: $bg;
    padding: 0px 4px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    left: 4px;
    top: 0;
    width: calc(100% - 12px);
    height: 12px;
    z-index: 1;

    &::before {
      content: '';
      z-index: 0;
      display: block;
      height: 8px;
      width: 8px;
      position: absolute;
      left: 100%;
      background-color: $bg;
      transform: translateX(-50%) rotate(45deg);
    }
  }

  &__limit-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    background-position: right;
    background-size: 12px 12px;
    background-repeat: repeat-y;
    height: 100%;
    mix-blend-mode: lighten;
    background-image: linear-gradient(
      currentColor 50%,
      rgba(255, 255, 255, 0.5) 0%
    );
    opacity: 0.5;
  }
}

.ScaleGenerator__points:hover {
  .ScaleGenerator {
    &__text-chroma {
      visibility: visible;
    }

    &__toolbar {
      visibility: visible;
    }

    &__hue-slider {
      visibility: visible;
    }

    &__limit-line {
      opacity: 1;
    }
  }
}
