.TextSamples {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__samples {
    padding-bottom: 16px;
  }

  &__tooltip {
    position: absolute;
    top: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 16px;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
    border-radius: 8px;
    z-index: 1;

    &::before {
      content: '';
      display: block;
      height: 12px;
      width: 12px;
      background-color: white;
      position: absolute;
      left: 50%;
      top: 0;
      transform: rotate(45deg) translateX(-50%);
    }
  }

  &__plot {
    margin-top: auto;
    padding: 8px;
  }
}
