.TargetColorInput {
  background-color: white;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0 0 16px rgba(0, 0, 0, .5);
  input {
    border: 1px solid #8a8a8a;
    border-radius: 4px;
    padding: 4px;
  }
}
