.Plotter {
  position: relative;

  &__colors {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__color {
    position: absolute;
    left: 0;
    top: 0;
    height: 16px;
    transform: translateY(-50%);
    cursor: ew-resize;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
