$dark-grey: rgb(32, 32, 32);

.Output {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__heading {
    color: white;
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  &__button {
    position: relative;
  }

  &__confirmation {
    color: white;
    position: absolute;
    left: calc(100% + 8px);
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
  }

  &__output {
    position: relative;
    flex-grow: 1;
  }

  &__textarea {
    resize: none;
    background-color: $dark-grey;
    color: white;
    padding: 0.5rem;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    white-space: pre;
  }
}

.Output--is-confirming {
  .Output {
    &__confirmation {
      opacity: 1;
    }
  }
}
