$dark-grey: rgb(32, 32, 32);

.Output {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__heading {
    color: white;
    margin-top: 0;
  }

  &__output {
    position: relative;
    flex-grow: 1;
  }

  &__textarea {
    resize: none;
    background-color: $dark-grey;
    color: white;
    padding: 0.5rem;
    border-radius: 6px;
    width: 100%;
    height: 100%;
  }

  &__button {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__confirmation {
    color: rgb(103, 103, 103);
    background-color: rgb(232, 232, 232);
    padding: 0px 16px;
    border-radius: 5px;
    position: absolute;
    right: 100%;
    top: 0;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    font-weight: lighter;
  }
}

.Output--is-confirming {
  .Output {
    &__confirmation {
      opacity: 1;
    }
  }
}
