.Swatches {
  display: flex;
  flex-grow: 1;
  min-width: 0;

  $checker-color: #f1f1f1;
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  /* prettier-ignore */
  background-image: 
        linear-gradient(  45deg, $checker-color 25%, transparent    25% ),
        linear-gradient( -45deg, $checker-color 25%, transparent    25% ),
        linear-gradient(  45deg, transparent    75%, $checker-color 75% ),
        linear-gradient( -45deg, transparent    75%, $checker-color 75% );

  &__swatch {
    min-width: 160px;
    display: flex;
    flex-direction: column;
  }

  &__label {
    padding: 8px;
  }

  &__outputs {
    padding: 8px;
    font-size: 10px;
    display: grid; 
    gap: 2px;
  }

}
