.ChromaSlider {
  position: relative;
  cursor: ew-resize;
  outline: none;
  height: 12px;

  &__dot {
    height: 8px;
    width: 8px;
    background-color: white;
    border-radius: 1000px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    &--default-shade {
      border-radius: 0;
      transform: translate(-50%, -50%) rotate(45deg);
      box-shadow: 0 0 0 1.5px black, 0 0 0 3px white, 0 0 8px 4px black;
    }
  }

  &__tooltip {
    position: absolute;
    top: 50%;
    left: calc(100% + 8px);
    background-color: black;
    color: white;
    padding: 0 4px;
    font-size: 12px;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-50%);
    &--default-shade {
      transform-origin: -12px center;
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}

.ChromaSlider:hover {
  background-color: rgba(0, 0, 0, 0.05);
  .ChromaSlider {
    &__tooltip {
      opacity: 1;
    }
  }
}
.ChromaSlider--is-dragging {
  background-color: rgba(0, 0, 0, 0.1) !important;
  .ChromaSlider {
    &__tooltip {
      opacity: 1;
    }
  }
}

.ChromaSlider:focus {
  background-color: rgba(0, 0, 0, 0.05);

  .ChromaSlider {
    &__tooltip {
      display: block;
    }
    &__dot {
      box-shadow: 0 0 8px rgba(0, 0, 0, 1), 0 0 0 1px rgba(0, 0, 0, 1);
      &::after {
        content: '';
        display: block;
        background-color: black;
        height: 4px;
        width: 4px;
        border-radius: 100px;
        position: absolute;
        top: 2px;
        left: 2px;
      }
    }
  }
}
