.ChromaSlider {
  position: relative;
  
  &__dot {
    height: 8px;
    width: 8px;
    background-color: white;
    border-radius: 1000px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
  }

  &__output {
    user-select: none;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 8px;
  }
}

.ChromaSlider {
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  &--is-dragging {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
}
