.TextColorsPlot {
  position: relative;
  background-color: white;

  &__dot {
    position: absolute;
    width: 6px;
    height: 6px;
    border: 1px solid black;
    border-radius: 1000px;
    background-color: white;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.25);
    transform: translate(-50%, 50%);
  }

  &__dot-label {
    position: absolute;
    background-color: black;
    color: white;
    font-size: 10px;
    top: 50%;
    left: calc(100% + 8px);
    transform: translateY(-50%);
    white-space: nowrap;
    padding: 1px 4px;
    border-radius: 4px;
  }
}
