.Swatch {
  $this: &;

  min-width: 0;
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid transparent;

  &__check-wrapper {
    position: absolute;
    top: -5px;
    right: -5px;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    background-color: inherit;
    opacity: 0;
  }

  &__check-background {
    position: absolute;
    height: 22px;
    width: 44px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__check-icon {
    font-size: 10px;
    transform: rotate(-45deg) translate(-25%, 25%);
  }

  &__label {
    padding: 10px 6px;
    padding-right: 16px;
    line-height: 0.75;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 1ex;
    gap: 1ex;
    position: relative;
  }

  &__outputs {
    padding: 8px;
    font-size: 10px;
    display: grid;
    gap: 2px;
    margin-top: auto;
  }
}

.Swatch:hover {
  .Swatch {
    &__check-wrapper {
      opacity: 0.25;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.Swatch--is-default-shade {
  .Swatch__check-wrapper {
    opacity: 1 !important;
  }
}

.Swatch--is-eligible-as-default {
  .Swatch {
    &__hover-background:hover {
      opacity: 0.075;
      cursor: pointer;
    }
  }
}

.Swatch--is-clickable:hover {
  cursor: pointer;
  border-color: currentColor;
  &.Swatch--is-impossible-color {
    border-color: #1e1e1e;
  }
}
