.ScaleGenerator {
  display: flex;
  position: relative;

  &__toolbar {
    display: flex;
    flex-direction: column;
    visibility: hidden;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
  }

  &__footer {
    display: flex;
    align-items: center;
    margin: 2px 0;
  }

  &__toolbar-sliders {
    margin-bottom: 12px;
  }

  &__toolbar-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4px;
    // margin-bottom: 2px;
  }

  &__hue {
    width: 48px;
    text-align: center;
    white-space: nowrap;
    font-size: 10px;
  }

  &__hue-slider {
    visibility: hidden;
  }

  &__point {
    position: absolute;
    left: 0;
    top: 0;
    height: 16px;
    transform: translateY(-50%);

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__points {
    position: relative;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__plot {
    display: flex;
  }

  &__chroma-details {
    position: relative;
    width: 48px;
  }

  &__chroma-detail {
    position: absolute;
    font-size: 10px;
    transform: translateY(-50%);
    left: 4px;
    top: 0;
    width: calc(100% - 12px);
    height: 12px;
    text-align: right;
  }

  &__target-color-input {
    position: absolute;
    z-index: 1;
    top: calc(100% + 8px);
    left: 0;
  }

  &__target-color-sample {
    position: absolute;
    top: 8px;
    left: 16px;
    $size: 26px;
    border-radius: 5px;
    height: $size;
    width: $size;
  }

  &__target-color-nickname {
    position: absolute;
    display: flex;
    align-items: center;
    top: 8px;
    left: 52px;
    $size: 26px;
    border-radius: 5px;
    height: $size;
  }

  &__target-color-crosshairs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1px;
    width: 1px;

    border-radius: 1000px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 1px;
      background-color: black;
      box-shadow: 0 0 0 1px white;
      z-index: 0;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1px;
      height: 20px;
      background-color: black;
      box-shadow: 0 0 0 1px white;
      z-index: 0;
    }
  }

  &__limit-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    background-position: right;
    background-size: 12px 12px;
    background-repeat: repeat-y;
    height: 100%;
    mix-blend-mode: lighten;
    background-image: linear-gradient(
      currentColor 50%,
      rgba(255, 255, 255, 0.5) 0%
    );
    opacity: 0.5;
  }
  &__swatches {
    display: flex;
    flex-grow: 1;
    min-width: 0;

    $checker-color: #f1f1f1;
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;

    /* prettier-ignore */
    background-image: // checker board background
      linear-gradient(  45deg, $checker-color 25%, transparent    25% ),
      linear-gradient( -45deg, $checker-color 25%, transparent    25% ),
      linear-gradient(  45deg, transparent    75%, $checker-color 75% ),
      linear-gradient( -45deg, transparent    75%, $checker-color 75% );
  }
}

.ScaleGenerator:hover {
  .ScaleGenerator {
    &__text-chroma {
      visibility: visible;
    }

    &__toolbar {
      visibility: visible;
    }

    &__hue-slider {
      visibility: visible;
    }

    &__limit-line {
      opacity: 1;
    }
  }
}
