.Tooltip {
  position: fixed;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  filter: drop-shadow(0 0.25rem 1rem rgba(0, 0, 0, 0.125))
    drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.125));

  &__body {
    background-color: white;
    color: black;
    // font-size: $text-size-s;
    padding: 4px 8px;
    border-radius: 5px;
    position: relative;
  }
  &__arrow {
    width: 32px;
    height: 32px;
    background-color: white;
    transform: rotate(45deg) scale(-0.6835);
    position: absolute;
  }
}
