@import 'tokens';

.MessageCard {
  background-color: $color-white;
  margin: 1rem;
  box-shadow: $box-shadow-400-dark;
  border-radius: $border-radius-m;
  overflow: hidden;
  &__header {
    background-color: $color-primary;
    color: $text-on-primary;
    padding: 1rem;
  }

  &__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__footer {
    border-top: $border-width-default solid $color-grey-100;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__success-box {
    margin: 1rem;
    padding: 1rem;
    background-color: $color-success;
    color: $text-on-success;
    border-radius: $border-radius-m;
  }
  &__danger-text {
    color: $text-on-white--danger;
  }
  &__danger-button {
    background-color: $color-danger;
    color: $text-on-danger--vivid;
    border: $border-width-default solid $color-danger;
    border-radius: $border-radius-m;
    padding: 0.5rem 1rem;
    font-weight: $text-weight-bold;
    cursor: pointer;
    &:hover {
      background-color: $color-danger-darker;
      border-color: $color-danger-darker;
      color: $text-on-danger-darker--vivid;
    }
  }

  &__cta-button {
    background-color: $color-primary;
    color: $text-on-primary--vivid;
    border: $border-width-default solid $color-primary;
    border-radius: $border-radius-m;
    padding: 0.5rem 1rem;
    font-weight: $text-weight-bold;
    cursor: pointer;
    &:hover {
      background-color: $color-primary-darker;
      border-color: $color-primary-darker;
      color: $text-on-primary-darker--vivid;
    }
  }
}
